*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    padding-left: 5rem;
    background-color: #fff;
    box-shadow: 0 2px 40px rgba(0, 0, 0, 0.1);
    height: 10vh;
}
header nav ul {
    list-style: none;
    display: flex;
    gap: 1.5rem;
}
header nav ul li a {
    text-decoration: none;
    color: black;
}
header button{
    width: 150px;
    background: linear-gradient(to top right, #57007B, #6675F7);
    color: #FAFAFA;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 8px;
    cursor: pointer;
    transition: transform 0.2s, box-shadow 0.2s;
}
main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10rem;
}
h2{
    font-weight: 300;
}
.left span.color-purpul {
  background: linear-gradient(to right, #906dc5, #b567a2);
  background-clip: text;              /* Standard property (works in Firefox) */
  -webkit-background-clip: text;      /* Needed for Chrome/Safari */
  color: transparent;                 /* Works with Firefox */
  -webkit-text-fill-color: transparent; /* Works with Chrome/Safari */
  font-weight: bold;
}
strong{
    font-weight: bold;
}
.container-main{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    padding: 2rem 1rem;
    width: 100%;
    min-height: 60vh;
    max-height: max-content;
    box-sizing: border-box;
    margin-top: 50px;
    padding: 0px 120px;
}
.left{
    height: 100%;
    min-height: 60vh;
    display: flex;
    flex-direction: column;
    text-align:left;
    justify-content: space-evenly;
    font-size: 2rem;
}
.left p{
    font-size: 1rem;
    color: #666666;
    width: 80%;
    line-height: 1.5;
}
.left button{
    width: 180px;
    height: 50px;
    background: #3D63EA;
    color: #FAFAFA;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
}
.right{
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}
.right img{
    width: 43vw;
    max-width: 800px;
    height: auto;
}

.column{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.column h2{
    font-size: 3rem;
    text-align: center;
}
.column .bolder{
    font-weight: bold;
}
.slider{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 8rem;
    padding: 4rem;

}
.photo img, .main-photo img{
    width: auto;
    height: 100%;
    border-radius: 50px;
}

.stars{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: auto;
    height: 100%;
}

.stars img{
    width: 1.5vw;
    height: 100%;
    margin: 0.5rem 0;
}

.arrow{
    font-size: 48px;
    cursor: pointer;
}
.left-arrow{
    width: 100%;
}
.right-arrow{
    width: 100%;
    display: flex;
    justify-content: flex-end;
}
.slide{
    width: 66vw;
    min-width: 66vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}
.slide p{
    width: 37vw;
    min-width: 37vw;
    text-align: center;
    color: #718096;
    font-weight: 400;
    line-height: 36px;
    font-size: 1.2rem;
}
.photos{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-top: 9rem;

}
.main-photo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 10vw;
}
.photo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 10vw;
}

.photo img{
    filter: grayscale(70%)
}


.photo h5{
    font-size: 1rem;
    font-weight: 600;
    margin-top: 1rem;
    color: #A0AEC0;
    margin: 0;
}

.photo span{
    display: block;
    font-size: 0.9rem;
    color: #CBD5E0;
}

.main-photo h5{
    font-size: 1.2rem;
    font-weight: 700;
    margin-top: 1rem;
    color: #57007B;
    margin: 0;
}
.main-photo span{
    display: block;
    font-size: 1rem;
    color: black;
}
footer{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 4rem;
}
.sec-1{
    box-sizing: border-box;
    width: 100%;
    background-color: #F7F7FA;
    padding: 4rem 6.5rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    gap: 4rem;

}

.sec-1 a{
    text-decoration: none;
    color: #999;
}

.sec-1 section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 1rem;
    width: auto;
    min-width: 150px;
}

.sec-1 li{
    list-style: none;
}

.sec-1 ul{
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
}
.sec-2{
    height:min-content;
}

section .social-footer {
    height: 27vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    gap: 1rem;
    min-width: 13vw;
}
.social-media-icon {
  width: 0.9vw;
  height: auto;
}
.social-circle{
    width: 35px;
    height: 35px;
    border-radius: 50px;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: transform 0.2s, box-shadow 0.2s;
}
hr{
    width: 100%;
    height: 1px;
    color: #CBD5E0;
}